---
- name: Install brew packages
  homebrew:
    name: "asdf"

- name: Create .asdfrc
  template:
    src: roles/cui/templates/.asdfrc
    dest: $HOME

- name: Install runtime
  asdf:
    name: "{{ item.name }}"
  with_items:
    - { name: helm }
    - { name: nodejs }
    - { name: postgres }
    - { name: python }
    - { name: ruby }
    - { name: rust }
    - { name: terraform }

- name: Install Poetry using the official installer
  shell: |
    source $(brew --prefix asdf)/libexec/asdf.sh
    curl -sSL https://install.python-poetry.org | python3
  args:
    executable: /bin/bash

- name: Add Poetry to PATH
  lineinfile:
    path: ~/.zshrc
    line: 'export PATH="$HOME/.local/bin:$PATH"'
    state: present
  when: ansible_env.SHELL == "/bin/zsh"
