---
- name: Install brew packages
  homebrew:
    name: "{{ item.name }}"
  with_items:
    - { name: bat }
    - { name: binaryen }
    - { name: cmake }
    - { name: direnv }
    - { name: ffmpeg }
    - { name: font-fira-code-nerd-font }
    - { name: fzf }
    - { name: ghc }
    - { name: git } # Use homebrew based git
    - { name: gnu-sed }
    - { name: grex }
    - { name: hexyl }
    - { name: htop }
    - { name: imagemagick }
    - { name: jq }
    - { name: lsd }
    - { name: mas }
    - { name: neofetch }
    - { name: neovim }
    - { name: nkf }
    - { name: p7zip }
    - { name: pandoc }
    - { name: pict }
    - { name: pkg-config }
    - { name: poppler }
    - { name: qrencode }
    - { name: tmux }
    - { name: w3m }
    - { name: yarn }
    - { name: yt-dlp }
    - { name: yq }

- name: Install brew cask packages
  homebrew_cask:
    name: "{{ item.name }}"
  with_items:
    - { name: httpie }

- name: Create .tmux.conf
  template:
    src: roles/cui/templates/.tmux.conf
    dest: $HOME

- name: Set up lsd
  blockinfile:
    path: $HOME/.zprofile
    block: |
      alias ls='lsd -l'
      alias tree='lsd --tree'
    marker: "# {mark} ANSIBLE MANAGED BLOCK lsd"

- name: Set up bat
  blockinfile:
    path: $HOME/.zprofile
    block: |
      alias cat='bat --paging=never'
      export MANPAGER='`col -bx | bat -l man -p`'
    marker: "# {mark} ANSIBLE MANAGED BLOCK bat"

- name: Set up nvim
  blockinfile:
    path: $HOME/.zprofile
    block: |
      alias vim='nvim'
    marker: "# {mark} ANSIBLE MANAGED BLOCK nvim"
