name: Check provision

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  cui:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Cache gem
        uses: actions/cache@v4
        with:
          path: /Library/Ruby/Gems
          key: cui-${{ runner.os }}-gem
          restore-keys: |
            cui-${{ runner.os }}-gem-
      - name: Cache homebrew
        uses: actions/cache@v4
        with:
          path: |
            /usr/local/Cellar
            /Users/runner/Library/Caches/Homebrew
          key: cui-${{ runner.os }}-homebrew-packages-${{ hashFiles('roles/*/tasks/homebrew.yml') }}
          restore-keys: |
            cui-${{ runner.os }}-homebrew-packages-
      - name: Cache asdf
        uses: actions/cache@v4
        with:
          path: /Users/runner/.asdf
          key: cui-${{ runner.os }}-asdf
          restore-keys: |
            cui-${{ runner.os }}-asdf-
      - name: Cache neovim plugin
        uses: actions/cache@v4
        with:
          path: /Users/runner/.local/share/nvim/site/pack
          key: cui-${{ runner.os }}-nvim-${{ hashFiles('roles/*/tasks/neovim.yml') }}
          restore-keys: |
            cui-${{ runner.os }}-nvim-
      - name: Install
        run: |
          brew update && brew upgrade
          brew install ansible
      - name: Play cui tasks
        run: make cui
  os:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Cache gem
        uses: actions/cache@v4
        with:
          path: /Library/Ruby/Gems
          key: os-${{ runner.os }}-gem
          restore-keys: |
            os-${{ runner.os }}-gem-
      - name: Cache homebrew
        uses: actions/cache@v4
        with:
          path: |
            /usr/local/Cellar
            /Users/runner/Library/Caches/Homebrew
          key: os-${{ runner.os }}-homebrew-packages-${{ hashFiles('roles/*/tasks/homebrew.yml') }}
          restore-keys: |
            os-${{ runner.os }}-homebrew-packages-
      - name: Cache asdf
        uses: actions/cache@v4
        with:
          path: /Users/runner/.asdf
          key: os-${{ runner.os }}-asdf
          restore-keys: |
            os-${{ runner.os }}-asdf-
      - name: Install
        run: |
          brew update && brew upgrade
          brew install ansible
      - name: Play os tasks
        run: make os
